body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #fff;
  height: 200vh;
  position: relative;
}

#container-video {
  position: relative;
  width: 100%;
  height: 100vh;
}
#element-video {
  position: absolute;
  width: 100%;
  height: 100vh;
}
#background-video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-color: #000;
}
#video-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

#container-video {
  height: 100vh;
}
