*, body{
    background-color: #000000;
}

ul li{
    display: inline-block;
}

.nav-container {
    width: 100%;
  }

  .navbar {
    max-width: 1720px;
    margin: 0 auto;

    display: grid;
    
  }

  .right-menu {
    grid-column: 1;
  }

  .nav-logo {
    grid-column: 2;
  }